@import "css3-mixins";

/********** GENERAL STYLES **********/
body{
	color: #58595B;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 18px;
	font-size: 12px;
}
a{
	color: #031F73;
	text-decoration: none;
	&:hover, &:visited{
		color: #EC1C24;
	}
}
.container{
	background: #FFFFFF;
	margin: 0 auto;
	width: 750px;
}

.pull-right{
	float: right!important;
}
.text-center{
	text-align: center !important;
}
.pull-left{
	float: left !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

h1 {
	line-height: 24px;
	font-size: 16px;
	color: #031F73;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
}

h2 {
	line-height: 18px;
	font-size: 14px;
	color: #031F73;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
}

h3 {
	line-height: 18px;
	font-size: 13px;
	color: #031F73;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 8px;
}

.inner{
	padding: 16px;
}
.blue{
	color: #031F73;
}
.red{
	color: #EC1C24;
}
.text-bold{
	font-weight: bold;
}
/********** HEADER **********/

header{
	.site-branding{
		background:#031f73;
		padding: 6em 0 2em 0;
		#logo{
			margin-right: 24px;
		}
	}
}
.page-template-template-autostart_index-php,
.page-template-template-autostart_videos-php,
.page-template-template-autostart_distributors-php,
.page-template-template-autostart_technical-php{
	color: #58595B;
	font-family: "ff-dax-web-pro",Verdana,Arial,Helvetica,sans-serif;
	line-height: 18px;
	font-size: 12px;
	header{
		display: none;
	}
	#autostart_header{
		margin-top: 20px;
		margin-bottom: 2em;
		#autostart_nav{
			ul{
				margin: 20px 0 0 0;
				padding: 0;
				li{
					width: 25%;
					list-style-type: none;
					float: left;
					a{
						display: block;
						background: #031F73;
						color: white;
						text-align: center;
						font-weight: bold;
						padding: 2px 0;
						font-size: 12px;
					}
				}
			}
		}
	}
	.as_videos{
		margin-top: 10px;
	}
}

/********** SITE NAVIGATION **********/
#site-navigation{
	margin-top: 15px;
	ul{
		li{
			width: 16.6666667%;
			a{
				span{
					display: block;
					background: #031F73;
					color: white;
					font-weight: bold;
				}
				.nav-thumb{
					position: relative;
					margin-top: 15px;
					.nav_hover_thumb{
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
						@include transition(all, 0.5s, ease-in-out);
					}
					.nav_first_thumb{
						position: relative;
						@include transition(all, 0.5s, ease-in-out);
					}
				}
				&:hover{
					span{
						background: #EC1C24;
						color: white;
						@include transition(all, 0.5s, ease-in-out);
					}
					.nav_first_thumb{
						opacity: 0;
					}
					.nav_hover_thumb{
						opacity: 1;
					}
				}
			}
		}
	}
}

/********** CONTENT **********/
#content{
	.site-main{
		&.main_with_sidebar{
			width: 500px;
		}
	}
}
#panel{
	width: 232px;
	background: #F1F1F7;
	margin-top: 28px;
	h1{
		padding-top: 0;
	}
	#home-susbcribe{
		margin-bottom: 20px;
		img{
			width: 30%;
			margin-right: 5%;
		}
		span{
			display: block;
			width: 65%;
		}
	}
	#latest-releases-list{
		margin-left: 0;
		margin-top: 20px;
		li{
			list-style-type: none;
			border-top: 3px solid #031F73;
			padding-top: 20px;
			padding-bottom: 10px;
			.news_title{
				margin-bottom: 0;
			}
			.attachment{margin-top: 0.5em;display: block;}
			&.rss{
				img{
					margin-right: 10px;
					padding-top: 6px;
				}
			}
		}
	}
	&.release_years{
		color: white;
		background: none;
		h4{
			padding-left: 32px;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 2px;
			margin-bottom: 2px;
			background:#BCBEC0;
			a{
				display: block;
				&:visited{
					color:white;
				}
				&:hover{
					opacity: 0.6;
				}
			}
			&.active{
				background: #031F73;
			}
		}
		&.english .english,
		&.portuguese .portuguese,
		&.mandarin .mandarin{
			background: #031F73;
		}
	}
	&.autostart{
		background: none;
	}
}
#people, #products{
	margin-top: 3em;
	.person{
		border-bottom: 1px solid #999;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
}
#releases{
	margin-top: 3em;
	.release{
		background: #F1F1F7;
		margin-bottom: 1em;
		.attachment{
			margin-top: 1em;
			display: block;
		}
	}
}
.page-template-template-autostart_technical-php{
	#main{
		ul{
			margin:0;
			border-top: 3px solid rgb(213, 43, 30);
			padding-top: 1em;
			li{
				list-style-type: none;
				border-bottom: 3px solid rgb(213, 43, 30);
				padding-bottom: 2em;
				margin-bottom: 2em;
				img{
					border:1px solid rgb(213, 43, 30);
				}
			}
		}
	}
}
/********** FOOTER **********/

.site-footer{
	padding-top: 0.5em;
	border-top: 5px solid #031F73;
	margin-top: 2em;
}