@import "css3-mixins";

/********** GENERAL STYLES **********/
body{
	color: #58595B;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 18px;
	font-size: 12px;
}
a{
	color: #031F73;
	text-decoration: none;
	&:hover, &:visited{
		color: #EC1C24;
	}
}
.container{
	background: #FFFFFF;
	margin: 0 auto;
	width: 750px;
}

.pull-right{
	float: right!important;
}
.text-center{
	text-align: center !important;
}
.pull-left{
	float: left !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

h1 {
	line-height: 24px;
	font-size: 16px;
	color: #031F73;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
}

h2 {
	line-height: 18px;
	font-size: 14px;
	color: #031F73;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
}

/********** HEADER **********/

header{
	.site-branding{
		background:#031f73;
		padding: 6em 0 2em 0;
		#logo{
			margin-right: 24px;
		}
	}
}

/********** SITE NAVIGATION **********/
#site-navigation{
	margin-top: 15px;
	ul{
		li{
			width: 16.6666667%;
			a{
				span{
					display: block;
					background: #031F73;
					color: white;
					font-weight: bold;
				}
				.nav-thumb{
					position: relative;
					margin-top: 15px;
					.nav_hover_thumb{
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
						@include transition(all, 0.5s, ease-in-out);
					}
					.nav_first_thumb{
						position: relative;
						@include transition(all, 0.5s, ease-in-out);
					}
				}
				&:hover{
					span{
						background: #EC1C24;
						color: white;
						@include transition(all, 0.5s, ease-in-out);
					}
					.nav_first_thumb{
						opacity: 0;
					}
					.nav_hover_thumb{
						opacity: 1;
					}
				}
			}
		}
	}
}
/********** FOOTER **********/

.site-footer{
	padding-top: 0.5em;
	border-top: 5px solid #031F73;
	margin-top: 2em;
}